{
  "tabWidth": 2,
  "useTabs": false,

  "semi": false,
  "printWidth": 80,

  "singleQuote": true,
  "bracketSameLine": true,
  "bracketSpacing": true,

  "endOfLine": "auto",
  "arrowParens": "avoid",
  "trailingComma": "es5",
  
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "embeddedLanguageFormatting": "auto"
}
