{
  "tabWidth": 2,
  "useTabs": false,
  "embeddedLanguageFormatting": "off",
  "endOfLine": "crlf",
  "htmlWhitespaceSensitivity": "strict",
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "trailingComma": "none",
  "vueIndentScriptAndStyle": true
}
