.GalleryCarousel {
    max-width: 100vw;
    max-height: 100vh;
}

.GalleryContainer {
  display: flex;
  overflow: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.Slides {
    padding: 1rem;
    margin: 1rem;

    position: relative;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    flex: 1 0 100%;
}

.Slides::-webkit-scrollbar {
    max-width: 0vw;
    max-height: 0vh;
}

.Card {
    max-width: fit-content;
    max-height: 16.253vh;
  
    padding: 0rem 1rem;
    margin: auto;
  
    position: relative;
    border-radius: 0.1rem;
  
    backdrop-filter: blur(2rem);
    cursor: pointer;
  
    right: 17.5rem;
  }