.GalleryCarousel {
    max-width: 100vw;
    max-height: calc(100vh);
}

.GalleryContainer {
  display: flex;
  overflow: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.Slides {
    padding: 1rem;
    margin: 1rem;

    position: relative;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    flex: 1 0 100%;
}

.Slides::-webkit-scrollbar {
    max-width: 0vw;
    max-height: 0vh;
}