container {
  flex: 1;
  background-color: #0f1014;
  align-items: center;
  justify-content: center;
}

image {
  flex: 1;
  resize: cover;
  justify-content: center;
}

text {
  font-size: 16;
  color: #999eb2;
}

optionsContainer {
  position: absolute;
  bottom: 80;
}

optionsRow {
  align-items: center;
  flex-direction: row;
}
